1. What are data structures, and why are they important?
   - In Python, data structures refer to ways of organizing, storing, and retreiving/manipulating data.
   - Common Data Structures in Python: List, Tuple, Set, Dictionaries etc.
   - The reasons for why they are important
     - Performance Optimization
     - Memory Efficiency
     - Code Simplicity and Readability

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types are those whose values or contents can be changed after the object has been created. Examples - List, Set, Dictionary ect.
   - Immutable data types are those whose values cannot be changed after the object has been created. Examples - String, Tuple

3. What are the main differences between lists and tuples in Python?
   - Lists are mutable and tuples are immutable

4. Describe how dictionaries store data
   - Dictionaries store data as key-value pairs.

5. Why might you use a set instead of a list in Python?
   - Set: A set automatically eliminates duplicate elements.If user try to add a duplicate item to a set, it will be ignored.

6. What is a string in Python, and how is it different from a list?
   - a string is a sequence of characters enclosed in single (') or double (") quotes.
   - String is immutable and list is mutable

7. How do tuples ensure data integrity in Python?
   - Tuples in Python ensure data integrity by being immutable, meaning that once a tuple is created, its content cannot be modified.
  
8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure used to store key-value pairs, where each key is mapped to a specific value through a hash function.
   - In Python, dictionaries (dict) are implemented using hash tables. A Python dictionary is an unordered collection of key-value pairs, where:

   The keys must be immutable types (e.g., strings, numbers, tuples).
   The values can be any Python object.

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain different data types. Python lists are heterogeneous, meaning that user can store elements of various types within the same list.

10. Explain why strings are immutable in Python
    - Strings in Python are immutable, meaning that once a string is created, it cannot be changed or modified. This immutability has several benefits related to efficiency, safety, and functionality.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer several advantages over lists for certain tasks, primarily when users need to efficiently associate keys with values, perform lookups, or handle unordered data.

12. Describe a scenario where using a tuple would be preferable over a list.
   - Scenario: Storing Geographic Coordinates (Latitude, Longitude)
Imagine users are developing a system that stores and processes geographic coordinates for various locations. Each location is defined by a latitude and longitude pair.
   - Why Use a Tuple:
     - Immutability
     - Performance: Since tuples are immutable (unlike lists), they are generally more memory-efficient and can be faster to access than lists.
     - Data Integrity
13. How do sets handle duplicate values in Python?
    - In Python, sets automatically remove duplicates because they are unordered collections that only store unique values. This means that if users try to add a duplicate value to a set, the set will ignore the duplicate and only keep one instance of that value.

14. How does the “in” keyword work differently for lists and dictionaries?
    - When the "in" keyword is used with a list, it checks if an element exists in the list.
    - When the "in" keyword is used with a dictionary, it checks if a key exists in the dictionary, not the values.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No because tuple is immutable

16. What is a nested dictionary, and give an example of its use case.
    - Nested dictionaries are dictionaries within dictionaries. They provide a hierarchical way to organize and store complex data, where each value can be another dictionary, containing more key-value pairs.

Example Use Case: Representing Employee Information

Consider a company with multiple departments, each having multiple employees. You can use a nested dictionary to store employee information, organized by department:

employees = {
    "Engineering": {
        "John Doe": {"id": 1, "role": "Software Engineer"},
        "Jane Smith": {"id": 2, "role": "Data Scientist"},
    },
    "Marketing": {
        "David Lee": {"id": 3, "role": "Marketing Manager"},
        "Sarah Jones": {"id": 4, "role": "Social Media Specialist"},
    },
}

17. Describe the time complexity of accessing elements in a dictionary.
    - In Python, dictionaries are implemented using a hash table, which allows for efficient lookup, insertion, and deletion operations. The time complexity for accessing elements in a dictionary is typically O(1), meaning that the time to access a value by key is constant, regardless of the number of elements in the dictionary. This is one of the key reasons why dictionaries are extremely efficient for key-based lookups.

18. In what situations are lists preferred over dictionaries?
    - Here are some situations where lists are generally preferred over dictionaries:
    - When the Order of Elements Matters
    - When users Need to Store a Simple Sequence of Elements
    - When users Need Efficient Index-based Access
    - When users Have a Known Number of Elements or Small Data

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Why Are Dictionaries Considered Unordered?
      Hash Table Implementation:
      - Dictionaries are implemented using a hash table, which is a data structure that maps keys to values via a hash function.
    - Does the Unordered Nature Affect Data Retrieval?
      - The unordered nature of dictionaries does not affect data retrieval by key. Python dictionaries provide O(1) average-time complexity for retrieving the value associated with a specific key. This means users can access values in constant time, regardless of whether the dictionary maintains insertion order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    -  A list stores ordered collections of items, and data is accessed by index (position of the element in the list).
    - In the dictionary, data is accessed by using the key rather than an index. The key can be any immutable data type (e.g., strings, numbers, tuples).

In [ ]:
# Practical Questions

In [2]:
# 1. Write a code to create a string with your name and print it

# Creating a string with my name
name = "Soibam Anando"

# Printing the string
print(f"My name is {name}")

My name is Soibam Anando

In [3]:
# 2. Write a code to find the length of the string "Hello World"
len("Hello World")

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [11]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [12]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [13]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [15]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [18]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
number = (10, 20, 30)
print(type(number))
print(number)

<class 'tuple'>
(10, 20, 30)

In [19]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [20]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

In [21]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [26]:
# 15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

fruits = ('apple', 'orange', 'banana')
if "banana" in fruits:
   print("banana is in the tuple.")
else:
  print("banana is not in the tuple.")

banana is in the tuple.

In [27]:
# 16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

numbers = {1, 2, 3, 4, 5}
print(type(numbers))
print(numbers)

<class 'set'>
{1, 2, 3, 4, 5}

In [28]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [29]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
numbers = (10, 20, 30)
print(type(numbers))
print(numbers)

<class 'tuple'>
(10, 20, 30)

In [30]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [31]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

In [32]:
# 21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [33]:
# 22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
if "banana" in fruits:
    print("banana is in the tuple.")
else:
    print("banana is not in the tuple.")

banana is in the tuple.

In [34]:
# 23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

numbers = {1, 2, 3, 4, 5}
print(type(numbers))
print(numbers)

<class 'set'>
{1, 2, 3, 4, 5}

In [35]:
# 24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}